<!DOCTYPE html>

<html>

<h1>
Welcome this is our about page for Alpha-blog</h1>

<%= image_tag 'ruby.png' %>


<body>
<p>
Welcome to ruby on rails learning program there is only one key,the more you practice the more you get better
</p>

</body>

<%=link_to 'Home', root_path %>

</html>
