<!DOCTYPE html>

<div class= "center jumbotron">
<h1>ALPHA BLOG</h1>
<%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

<html>
<h1>
Welcome this is our home page for Alpha-blog</h1>


<body>
<p>Welcome to ruby on rails learning program this is our interactive site on ruby on rails</p>

<h1>In this you will learn</h1>

<ul>
<li>Generating controller</li>
<li>giving path through routes</li>
<li>generating view pages</li>
<li>how to link a page or image</li>
</ul>

</body>

</html>